:root {
  --boundary-clr: #b3cde6;
  --sec-primary-clr: #aae0c2;
  --sec-secondary-clr: #e6e3d0;
  --sec-tertiary-clr: #e4c5d6;
  --sec-quaternary-clr: #ceb6df;
}
/* for casualdev link */
@import url(https://fonts.bunny.net/css?family=alfa-slab-one:400);

/* add our fonts */

@font-face {
  font-family: "meows";
  src: url("./public/fonts/meows-font/Meows-VGWjy.ttf");
  font-display: swap;
}

@font-face {
  font-family: "meowcat";
  src: url("./public/fonts/meowcat-font/Meowcat-rgmlK.ttf");
  font-display: swap;
}

/* base element styles */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "meows", sans-serif;
}

body {
  display: grid;
}

h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  /* changed height to fit content */
  height: fit-content;
  padding: 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: var(--boundary-clr);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header styles */
.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: sticky;
  top: 0;
  box-shadow: 0 1px 12px black;
  /* added z-index here */
  z-index: 10;
}

.header_logo-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.header_logo-wrapper img {
  width: 100%;
  max-width: 100px;
}

.header_logo-wrapper_title-div h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline var(--sec-secondary-clr);
}

.header_logo-wrapper_title-div p {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav {
  justify-self: end;
  align-self: flex-end;
  margin-right: 2em;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.nav-item {
  padding: 0.5em 2em;
  margin: 0;
}

.nav-item a {
  font-size: 1.7rem;
}

.home-nav:hover,
.home-nav:focus-within {
  background-color: var(--sec-primary-clr);
}
.about-nav:hover,
.about-nav:focus-within {
  background-color: var(--sec-secondary-clr);
}
.favorites-nav:hover,
.favorites-nav:focus-within {
  background-color: var(--sec-tertiary-clr);
}
.blog-nav:hover,
.blog-nav:focus-within {
  background-color: var(--sec-quaternary-clr);
}
.fun-facts-nav:hover,
.fun-facts:focus-within {
  background-color: var(--sec-primary-clr);
}

.casualdev {
  background-color: #51fa7b;
}

.casualdev a {
  color: black;
  font-family: "Alfa Slab One";
}

/* header media queries */
@media screen and (max-width: 600px) {
  .header_logo-wrapper img {
    width: 60px;
  }

  .header_logo-wrapper_title-div h1 {
    font-size: 2.5rem;
    text-decoration: underline var(--sec-primary-clr) 0.25em;
  }

  .header_logo-wrapper_title-div p {
    font-size: 1rem;
  }

  .nav {
    justify-self: flex-end;
  }
}

/*  Dropdown Navigation Styles */
.dropdown {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-item {
    display: none;
  }

  .dropdown {
    position: relative;
    display: block;
    padding: 0 2em;
  }

  .dropdown:hover,
  .dropdown:focus-within {
    background-color: var(--sec-primary-clr);
  }

  .home-nav:hover,
  .home-nav:focus-within {
    background-color: var(--sec-quaternary-clr);
  }

  .fun-facts-nav:hover,
  .fun-facts:focus-within {
    background-color: var(--sec-secondary-clr);
  }

  .dropdown .nav-item {
    display: block;
  }

  .dropdown__title {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
  }

  .dropdown__menu {
    background-color: var(--sec-primary-clr);
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
    padding-top: 0.5em;
    min-width: 15ch;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 50%;
    visibility: hidden;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    transition: 280ms all 120ms ease-out;
  }

  .dropdown:hover .dropdown__menu,
  .dropdown:focus-within .dropdown__menu {
    opacity: 1;
    transform: rotateX(0) translateX(-50%);
    visibility: visible;
  }

  .dropdown__menu a {
    display: block;
  }
}

/* hero section styles */
#home {
  background-color: var(--sec-primary-clr);
}

.hero-section {
  background-image: url("./public/assests/hero-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  /* changed height */
  height: 80vh;
}

.hero-section h2 {
  color: var(--sec-quaternary-clr);
  font-size: 7rem;
  width: min-content;
}

/* hero section media queries */
@media screen and (max-width: 600px) {
  .hero-section {
    height: 50vh;
  }

  .hero-section h2 {
    font-size: 5rem;
  }
}

/* about section styles */
#about {
  background-color: var(--sec-secondary-clr);
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 2em;
  height: fit-content;
}

.about-section_content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 3em;
}

.about-section-title {
  font-size: 3rem;
  text-decoration: underline var(--sec-quaternary-clr) 1rem;
}

.small-screen {
  display: none;
}

.about-section_content-wrapper blockquote,
.about-section_content-wrapper legend {
  font-size: 2rem;
  font-family: "meowcat", sans-serif;
  font-style: italic;
  letter-spacing: 0.2px;
}

.about-section_image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.about-section_image-wrapper img {
  width: 50%;
  border-radius: 15px;
  box-shadow: 5px -5px 0 var(--sec-primary-clr), 5px -5px 2px black,
    10px -10px 0 var(--boundary-clr), 10px -10px 2px black,
    15px -15px 0 var(--sec-quaternary-clr), 15px -15px 2px black;
}

/* about section media queries */
@media screen and (max-width: 600px) {
  .about-section {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .large-screen {
    display: none;
  }

  .small-screen {
    display: block;
    order: -1;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .about-section_content-wrapper {
    align-items: center;
    gap: 1em;
  }

  .about-section_image-wrapper {
    order: -1;
  }

  .about-section_content-wrapper blockquote,
  .about-section_content-wrapper legend {
    font-size: 1.5rem;
  }
}

/* favorites section styles */
#favorites {
  background-color: var(--sec-tertiary-clr);
  /* removed height fit content */
  padding-top: 1em;
}

.favorites-section h2 {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline var(--boundary-clr) 0.75rem;
  margin-bottom: 2em;
}

.favorites-section_grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
  justify-content: center;
  gap: 2em;
}

.card-wrapper {
  width: 100%;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* added height to make cards uniform */
  height: 95%;
  background-color: var(--boundary-clr);
  padding: 0.75em;
  margin: 0.75em;
  border-radius: 0 15% 0 20%;
  box-shadow: 5px -5px 0 var(--sec-primary-clr), 5px -5px 2px black,
    10px -10px 0 var(--boundary-clr), 10px -10px 2px black,
    15px -15px 0 var(--sec-quaternary-clr), 15px -15px 2px black;
}

.card img {
  width: 100%;
  border-radius: 0 15% 0 20%;
  box-shadow: 2px 2px 8px black;
}

.card-content {
  text-align: center;
  padding: 1em;
  font-family: "meowcat", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.card-content h3,
.card-content p {
  margin: 0;
}

.card-content h3 {
  font-size: 2rem;
}

/* blog section styles */
#blog {
  background-color: var(--sec-quaternary-clr);
  height: fit-content;
}

.blog-section h2 {
  font-size: 3rem;
  text-decoration: underline var(--sec-primary-clr) 1rem;
}

.article-content {
  font-family: "meowcat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.5rem;
}

.article-content h3 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.article_image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_image-wrapper img {
  width: 60%;
  max-width: 90svw;
  border-radius: 15px;
  box-shadow: 5px -5px 0 var(--sec-primary-clr), 5px -5px 2px black,
    10px -10px 0 var(--boundary-clr), 10px -10px 2px black,
    15px -15px 0 var(--sec-secondary-clr), 15px -15px 2px black;
}

.article-content blockquote {
  margin: 0 auto;
  width: 60%;
  background-color: var(--sec-secondary-clr);
  padding: 2em;
  border-radius: 0 5px 0 50px;
}

.article-content blockquote legend {
  font-family: "meows", sans-serif;
  margin-top: 0.5em;
  text-align: right;
}

.blog-section_link {
  text-align: center;
  font-size: 2rem;
}

.blog-section_link a {
  padding: 0.5rem 2rem;
  background-color: var(--sec-secondary-clr);
}

/* blog section media queries */
@media screen and (max-width: 600px) {
  .article-content {
    text-align: center;
  }

  .article_image-wrapper img {
    width: 100%;
  }
}

/* fun facts section styles */
#fun-facts {
  background-color: var(--sec-primary-clr);
  height: fit-content;
}

.fun-facts {
  text-align: center;
  background-image: url("./public/assests/fun-facts-image.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: luminosity;
}

.fun-facts h2 {
  text-decoration: underline var(--sec-quaternary-clr) 1rem;
  font-size: 3rem;
  margin-bottom: 2em;
}

.fun-facts_list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3em;
}

.fun-facts_list-item {
  font-size: 1.5rem;
  font-family: "meowcat", sans-serif;
  padding: 1em;
  background-color: var(--sec-tertiary-clr);
  box-shadow: 5px -5px 0 var(--sec-quaternary-clr), 5px -5px 2px black,
    10px -10px 0 var(--boundary-clr), 10px -10px 2px black,
    15px -15px 0 var(--sec-secondary-clr), 15px -15px 2px black;
  border-radius: 0 15px 0 15px;
  width: 50%;
}

.fun-facts_list-item blockquote::before {
  content: '"';
  font-size: 4rem;
  font-family: "meows";
}

.fun-facts_list-item legend {
  font-family: "meows", sans-serif;
}

/* fun facts media queries */
@media screen and (max-width: 600px) {
  .fun-facts_list {
    align-items: center;
  }

  .fun-facts_list-item {
    width: 95%;
    opacity: 0.8;
  }

  .fun-facts_list-item blockquote,
  .fun-facts_list-item legend {
    font-size: 1.25rem;
  }
}
/* footer styles */
.footer {
  height: min-content;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.footer_link-list li {
  margin: 1em 0;
}

.footer_link-list li a {
  font-size: 1.5rem;
}

.copyright-div {
  font-size: 1.5rem;
}

.github:hover,
.github:focus {
  border-bottom: 5px solid var(--sec-quaternary-clr);
}

.casual-dev:hover,
.casual-dev:focus {
  border-bottom: 5px solid var(--sec-primary-clr);
}

/* footer media queries */
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
